* {
	margin: 0;
	padding: 0;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
	box-shadow: 3px 3px 5px rgba(123, 0, 160, 0.24);
	width: 16rem;
	margin: 3%;
	border-style: solid;
	border-color: rgba(123, 0, 160, 0.651);
	border-width: 0.15rem;
	border-radius: 2rem;
	padding: 1.75rem;
	background-color: rgba(146, 206, 255, 0.993);
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 > h5 {
	text-align: center;
}

#container img {
	width: 100%;
	border-style: solid;
	border-color: rgba(123, 0, 160, 0.651);
	border-width: 0.15rem;
	border-radius: 2rem;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	align-content: center;
	background-image: linear-gradient(
		to bottom right,
		rgba(95, 183, 255, 0.877),
		rgb(223, 0, 223)
	);
}

#title {
	text-align: center;
	background: rgba(146, 206, 255, 0.993);
	font-family: "Courier New", Courier, monospace;
	color: rgb(83, 14, 83);
	border-bottom: 2px solid rgba(123, 0, 160, 0.651);
	padding-top: 15px;
}

#title h1 {
	text-decoration: underline;
	text-decoration-style: double;
	text-decoration-thickness: 0.09rem;
}

h5 {
	color: rgb(83, 14, 83);
	font-weight: 600;
	font-family: "Courier New", Courier, monospace;
}

#time {
	font-size: 12px;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
	color: blue;
}

.item1 img,
.item2 img,
.item3 img,
.item4 img,
.item5 img,
.item6 img {
	border: 1px solid rgb(83, 14, 83);
}
